.aboutWrapper {
  background: url(../../../assets/images/warning-banner.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.aboutParent {
  /* min-height: 100vh; */
  padding-top: 250px;
}

.about {
  border: 2px solid red;
  max-width: 872px;
  margin: 0 auto;
  border: 14px solid #f3e500;
  box-sizing: border-box;
  border-radius: 50px;
  /* overflow: hidden; */
  padding: 2rem 0;
  padding-top: 0;
}

.avatar {
  width: 415px;
  height: 415px;
  border-radius: 50%;
  padding: 4rem;
  border: 14px solid #f3e500;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a1b1c;
  margin: 0 auto;
  margin-top: -215px;
}

.aboutTitle {
  width: 100%;
  padding: 0.5rem 0;
  background: #fd0130;
}

.aboutTitle > h1 {
  text-shadow: 8px 18px 7px #000000;
}

.aboutContent {
  padding: 0 70px;
}

.aboutButton {
  padding: 2rem 0;
  background: #f3e500;
}

@media (max-width: 2100px) {
  .about {
    border: 12px solid #f3e500;
    border-radius: 35px;
    padding: 2rem 0;
    padding-top: 0;
  }

  .aboutParent {
    padding-top: 150px;
  }

  .avatar {
    border-width: 12px;
    width: 180px;
    height: 180px;
    padding: 2rem;
    margin-top: -20%;
  }

  .about {
    max-width: 600px;
  }

  .aboutContent {
    padding: 0 30px;
  }
}
@media (max-width: 1000px) {
  .avatar {
    width: 230px;
    height: 230px;
    margin-top: -25%;
    padding: 3rem;
  }

  .aboutParent {
    padding-top: 150px;
  }
}

@media (max-width: 760px) {
  .avatar {
    width: 120px;
    height: 120px;
    margin-top: -20%;
    padding: 1.5rem;
    border: 8px solid #f3e500;
    margin-bottom: 1.5rem;
  }

  .aboutTitle > h1 {
    text-shadow: 2px 6px 7px #000000;
  }

  .about {
    max-width: 350px;
    border: 10px solid #f3e500;
  }

  .aboutContent {
    padding: 0 20px;
  }
}

@media (max-width: 550px) {
  .aboutButton {
    padding: 1rem 1rem;
    background: #f3e500;
    width: fit-content !important;
    background: #f3e500;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 1.2rem;
  }

  .aboutParent {
    padding-top: 80px;
    min-height: auto;
  }
}
