.crews {
  max-width: 800px;
  margin: 0 auto;
}

.featuredCrews {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: flex-start;
}

.featuredCrews > div {
  align-self: flex-start;
}

.CrewsCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  align-items: flex-start;
}

.CrewsCards > div {
  align-self: flex-start;
}

@media (max-width: 1400px) {
  .featuredCrews {
    padding: 0 100px;
  }
}
@media (max-width: 1000px) {
  .featuredCrews {
    padding: 0 0px;
    gap: 40px;
  }
  .CrewsCards {
    gap: 40px;
  }
}
@media (max-width: 550px) {
  .featuredCrews {
    gap: 16px;
  }
  .CrewsCards {
    gap: 16px;
  }
}
