.hero {
  padding-top: 30px;
  position: relative;
}

.hamburger {
  position: absolute;
  left: 50%;
  top: 28%;
  transform: translateX(-50%);
  width: 80px;
  cursor: pointer;
}

@media (max-width: 1500px) {
  .hamburger {
    top: 160px;
    width: 50px;
  }
}
@media (max-width: 1000px) {
  .hamburger {
    top: 120px;
    width: 40px;
  }
}
@media (max-width: 760px) {
  .hamburger {
    top: 90px;
    width: 30px;
  }
}
@media (max-width: 550px) {
  .hamburger {
    top: 75px;
    width: 25px;
  }
}

@media (max-width: 340px) {
  .hamburger {
    top: 65px;
    width: 20px;
  }
}
