.roadmap {
  position: relative;
}

.roadmapLine {
  position: absolute;
  top: 0;
  left: 347px;
  width: 4px;
  background-color: var(--yellow);
  transition: all 0.3s ease;
  overflow: hidden;
}

.roadmapLineInner {
  width: 100%;
  background-color: #ff008d;
  height: 0%;
  transition: all 0.3s ease;
}

@media (max-width: 1000px) {
  .roadmapLine {
    left: 227px;
  }
}
@media (max-width: 760px) {
  .roadmapLine {
    left: 139px;
    width: 2px;
  }
}
@media (max-width: 550px) {
  .roadmapLine {
    left: 85px;
  }
}
