.wrapper {
  min-height: calc(100vh - 20px);
  display: flex;
  flex-direction: column;
}
.body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.timerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.timer > .timerBox:not(:last-child) {
  margin-right: 40px;
}
.timerCountWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.timer > .timerBox:not(:last-child) > .timerCountWrapper::after {
  content: ":";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -26px;
  color: white;
  font-size: 50px;
  font-weight: bold;
}
.timerCount {
  width: 123px;
  height: 123px;
  border: 3px solid #f3e500;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mintCount {
  max-width: 687px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 13px;
  padding: 1.5rem 1rem;
  margin: 0 auto;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter > :not(:last-child) {
  margin-right: 1rem;
}

.count {
  background-color: var(--yellow);
  background: #f3e500;
  border-radius: 11px;
  padding: 1rem 3rem;
}

.mintButton {
  max-width: 468px;
  width: 100%;
  border: 2px solid #f3e500;
  box-sizing: border-box;
  border-radius: 11px;
  line-height: 1;
  padding: 1rem 1rem;
  color: white;
}

.mintButton.reverse {
  background: #f3e500;
  color: var(--body);
}

.pageButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1000px) {
  .wrapper > img {
    top: 50px;
    right: 50px;
    width: 50px;
  }
  .timerCount {
    width: 100px;
    height: 100px;
    font-size: 30px;
  }

  .timerHeaderTitle {
    font-size: 26px;
  }
}

@media (max-width: 760px) {
  .wrapper > img {
    top: 35px;
    right: 35px;
    width: 35px;
  }
  .timerCount {
    width: 60px;
    height: 60px;
    font-size: 20px;
  }

  .timerHeaderTitle {
    font-size: 26px;
  }

  .timerCountBottomTitle {
    font-size: 12px;
  }

  .timer > .timerBox:not(:last-child) > .timerCountWrapper::after {
    right: -18px;
    font-size: 35px;
  }
  .timer > .timerBox:not(:last-child) {
    margin-right: 30px;
  }

  .mintCount {
    max-width: 300px;
    padding: 1rem 1rem;
    margin-top: 2rem;
  }

  .mintButton {
    max-width: 250px;
  }

  .counter {
    margin-top: 2rem;
  }

  .counter img {
    width: 50px;
  }
}

@media (max-width: 450px) {
  .timerCount {
    width: 45px;
    height: 45px;
    font-size: 16px;
  }
}
