.footerBottom {
  background-color: var(--yellow);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 100%;
  padding: 0.3rem 2rem;
  /* flex-direction: column; */
}
.footerBottom > :not(:last-child) {
  margin-right: 1rem;
}

@media (max-width: 500px) {
  .footerBottom {
    font-size: 8px;
  }
}
