.wrapper {
  background: #f3e500;
}
.content {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.contentCenter {
  text-align: center;
}

.contentCenter button {
  padding: 1rem 2rem;
  background-color: var(--body);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
}

@media (max-width: 1600px) {
  .content img {
    width: 150px;
  }
}
@media (max-width: 1000px) {
  .content img {
    width: 100px;
  }
}
@media (max-width: 760px) {
  .content img {
    width: 70px;
  }
}
@media (max-width: 550px) {
  .content img {
    width: 50px;
  }
}
