.card {
  display: flex;
  padding: 7px;
  background-color: #f3e500;
  border-radius: 50px;
  overflow: hidden;
}

.card img {
  border-radius: 50px;
}

@media (max-width: 1600px) {
  .card {
    border-radius: 30px;
  }
  .card img {
    border-radius: 30px;
  }
}

@media (max-width: 1000px) {
  .card {
    border-radius: 20px;
  }

  .card img {
    border-radius: 20px;
  }
}
