.footerWrapper {
  border-top: 10px solid #f3e500;
}
.socialLink {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialLink > :not(:last-child) {
  margin-right: 3rem;
}

@media (max-width: 760px) {
  .socialLink {
    align-items: center;
    flex-direction: column;
  }

  .socialLink > :not(:last-child) {
    margin-right: 0rem;
    margin-bottom: 1rem;
  }
}
